html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}
.title {
  padding: 0px 100px;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: 12px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 5px 20px;
    display: inline-block;
    margin: 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 250;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Button 1 */
.btn-1 {
	border: 1px solid #0e83cd;
  color: #fff;
  background: #0e83cd;
}
.desc {
  display: block;
  font-weight: 400;
  font-size: 17px;
}
.roles button {
  display: block;
}
/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: #fff;
}
.row {
    display: flex;
    justify-content: center;
}
.left {
    width: 50%;
    padding-right: 15px;
}
.right {
    width: 50%;
    padding-left: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.leaderboard td, .leaderboard th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.leaderboard th:nth-child(1) {
  width: 15px;
}
.leaderboard th:nth-child(2) {
  width: 25px;
}
.leaderboard td:nth-child(1), td:nth-child(2) {
  text-align: center;
}
.roles td {
  text-align: left;
  font-size: 20px;
  padding: 5px 0;
}
.roles  td:nth-child(1) {
  width: 250px;
  font-weight: 700;
}
.eventlog-container {
  display: flex;
}
.event-prop {
  justify-content: left;
  flex: 1;
  width: 30%;
}
.event-log-head {
  display: flex;
  flex-direction: row;
}
.event-log-content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 400px) {
  body {
      /* padding: 20px; */
  }
}

/*Styles for sidemenu*/
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 28px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}


.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.role-name {
  cursor: pointer;
}

.sticky {
  z-index: 300;
  top: 0;
  position: fixed;
  width: 100%;
  background: #eeeeee;
}
.home {
  padding: 20px 50px;
  margin-top: 60px
}